torch==2.1.2
torchvision==0.16.2
tensorflow==2.15.0
onnx==1.15.0
onnxruntime-gpu==1.16.3
numpy==1.26.3
opencv-python==4.9.0.80
Pillow==10.2.0
scikit-learn==1.4.0
mediapipe==0.10.9
redis==5.0.1
aio-pika==9.4.0
prometheus-client==0.19.0
python-json-logger==2.0.7
tenacity==8.2.3
tqdm==4.66.1
python-dotenv==1.0.0